{% extends 'base.html.twig' %}

{% block body %}
    <h1><i class="bi bi-person-plus"></i> Inscription</h1>

    {{ form_start(registrationForm) }}

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(registrationForm.email) }}
        </div>

        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person"></i></span>
                {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(registrationForm.nom) }}
        </div>

        <div class="mb-3">
            <label for="plainPassword" class="form-label">Mot de passe</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(registrationForm.plainPassword.first) }}
        </div>

        <div class="mb-3">
            <label for="plainPassword_confirmation" class="form-label">Confirmation</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_errors(registrationForm.plainPassword.second) }}
        </div>

        <button class="btn btn-primary">
            <i class="bi bi-check-circle"></i> S'inscrire
        </button>

    {{ form_end(registrationForm) }}
{% endblock %}
